@charset "UTF-8";
/*isay:InternetSaying的缩写*/

.write-announce{
    display: inline-block;
    background-color: #ff4f4f;
    color: #fff !important;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    padding: 8px 8px;
    margin-bottom: 25px;
}
.write-announce:hover{
    background-color: #bb1e1e;
    text-decoration: none;
}


