<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="dubbo-web-admin-consumer"/>
	
	<dubbo:registry protocol="zookeeper" address="${dubbo.register.address}"/>
	<dubbo:consumer timeout="${dubbo.timeout}"></dubbo:consumer>
	
	<dubbo:reference id="userService" interface="com.internetsaying.user.service.UserService"></dubbo:reference>
	<dubbo:reference id="userRoleService" interface="com.internetsaying.user.service.UserRoleService"></dubbo:reference>
	
	<dubbo:reference id="aboutService" interface="com.internetsaying.site.service.AboutService"></dubbo:reference>
	<dubbo:reference id="announcementService" interface="com.internetsaying.site.service.AnnouncementService"></dubbo:reference>
	<dubbo:reference id="friendService" interface="com.internetsaying.site.service.FriendService"></dubbo:reference>
	<dubbo:reference id="timeLineService" interface="com.internetsaying.site.service.TimeLineService"></dubbo:reference>
	
	<dubbo:reference id="areaService" interface="com.internetsaying.post.service.AreaService"></dubbo:reference>
	

</beans>
